{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - head_title: List of text elements that make up the head_title variable.
 * - page_top: Initial rendered markup.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup.
 * - placeholder_token: The token for generating head, css, js placeholders.
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes.addClass('bg-gray-50', 'min-h-screen', 'font-sans', 'antialiased') }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
